---
import Layout from "@layouts/Default.astro";
import HeroBlog from "@components/hero/HeroBlog.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import Section from "@components/section/Section.astro";
import Card from "@components/base/Card.astro";
import axios from 'axios';

export async function getStaticPaths() {
  try {
    const response = await axios.post('https://cms.fkm.unej.ac.id/graphql', {
      query: `
        query {
          posts {
            nodes {
              slug
              title
              content
              author{
                node{
                  name
                }
              }
            }
          }
        }
      `,
    });

    const posts = response.data.data.posts.nodes;
    return posts.map((post: { slug: any; title: any; content: any; author:any; }) => ({
      params: { slug: post.slug },
      props: { title: post.title,
                content: post.content,
               author: post.author.node.name 
              },
    }));
  } catch (error) {
    console.error(error);
    return [];
  }
}

const { title, content ,author } = Astro.props;
---



<Layout title={title}>
  <HeroBlog judul={title} author={author}/>
  <SectionMuted class="'overflow-hidden' ">
    <Container>
      <Section class="text-center" set:html={content}></Section>
    
    </Container>
  </SectionMuted>
</Layout>