---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
const { judul ,author } = Astro.props;
---

<div
  class="h-96 overflow-hidden bg-muted-100 dark:bg-muted-800"
>
  <div class="h-96 w-full max-w-7xl mx-auto flex items-top py-12 ">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-12">
        <div
          class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-4 ltablet:mb-0 lg:mb-0"
        >
          <div
            class="text-center mx-auto ltablet:text-center lg:text-center font-sans space-y-1"
          >
            <h2
            class="font-medium text-3xl text-center dark:text-primary-400" >
            {judul}
            </h2>
            
             
            </div>
            <br>
            <span class="font-small text-3sm text-center dark:text-muted-400">{author}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
