---
import Unfont from 'unplugin-fonts/astro/component.astro';
import Navbar from "@components/navigation/Navbar.astro";
import Footer from "@components/section/Footer.astro";
import { SEO } from 'astro-seo';
import 'swiper/swiper-bundle.css';
import "../styles/main.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" x-data="theme()" :class="$store.app.isDark ? 'dark' : ''">
  <head>
    <meta charset="UTF-8" />
    <Unfont />

    <SEO
    title="Fakultas Kesehatan Masyarakat - Agro-Coastal Community - Universitas Jember"
    description="Fakultas Kesehatan Masyarakat adalah salah satu fakultas yang berada di bawah naungan Universitas Jember"
    openGraph={{
      basic: {
        title: "Fakultas Kesehatan Masyarakat Universitas Jember",
        type: "A type.",
        image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
      }
    }}
    twitter={{
      creator: "@univ_jember"
    }}
    extend={{
      // extending the default link tags
      link: [{ rel: "icon", href: "/img/favicon.svg" }],
      // extending the default meta tags
      meta: [
        {
          name: "twitter:image",
          content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
        { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
        { name: "twitter:description", content: "Agent" },
        {
          name:"author",content:"HUMAS & IT FKM UNEJ"
        },
        {
          name:"copyright",content:"Fakultas Kesehatan Masyarakat - Universitas Jember"
        }
      ],
    }}


    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <meta name="title" content="Fakultas Kesehatan Masyarakat - Agro-Coastal Community - Universitas Jember" />
    <meta name="description" content="Fakultas Kesehatan Masyarakat adalah salah satu fakultas yang berada di bawah naungan Universitas Jember" />
    <!-- <meta name="robots" content="noindex"/> -->
    <!-- <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" /> -->
    <meta name="language" content="Indonesia" />
    <meta name="author" content="HUMAS & IT FKM UNEJ" />
    <meta name="copyright" content="Fakultas Kesehatan Masyarakat - Universitas Jember">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>Fakultas Kesehatan Masyarakat - Agro-Coastal Community - Universitas Jember {"- " + title}</title>
  </head>
  <body x-data="{ currentUrl : window.location.pathname }">
    <!-- Navbar -->
    <Navbar />

    <!-- Body slot -->
    <slot />

    <!-- Footer -->
    <Footer />

    <!-- Main script -->
    <script src="../js/main"></script>
  </body>
</html>
