---
import Unfont from 'unplugin-fonts/astro/component.astro';
import Navbar from "@components/navigation/Navbar.astro";
import Footer from "@components/section/Footer.astro";
import  GoogleAnalytics from "@components/ga/GoogleAnalytics.jsx";
import { SEO } from 'astro-seo';
import 'swiper/swiper-bundle.css';
import "../styles/main.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" x-data="theme()" :class="$store.app.isDark ? 'dark' : ''">
  <head>
    <meta charset="UTF-8" />
    <Unfont />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
    title="Fakultas Kesehatan Masyarakat - Agro-Coastal Community - Universitas Jember"
    description="Fakultas Kesehatan Masyarakat adalah salah satu fakultas yang berada di bawah naungan Universitas Jember"
    openGraph={{
      basic: {
        title: "Fakultas Kesehatan Masyarakat Universitas Jember",
        type: "A type.",
        image: "https://github.com/notizen-00/astro-fkm/blob/addb59847cfbee8449c5f67e5419db976555a1a3/public/img/logo/fkmunej-agrocoastal.png",
      }
    }}
    twitter={{
      creator: "@upttiuj"
    }}
    extend={{
      // extending the default link tags
      link: [{ rel: "icon", href: "/img/favicon.svg" }],
      // extending the default meta tags
      meta: [
        {
          name: "twitter:image",
          content: "https://github.com/notizen-00/astro-fkm/blob/addb59847cfbee8449c5f67e5419db976555a1a3/public/img/logo/fkmunej-agrocoastal.png",
        },
        { name: "twitter:title", content: "Fakultas Kesehatan Masyarakat Universitas jember" },
        { name: "twitter:description", content: "Agent" },
        {
          name:"author",content:"HUMAS & IT FKM UNEJ"
        },
        {
          name:"copyright",content:"Fakultas Kesehatan Masyarakat - Universitas Jember"
        }
      ],
    }}


    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preload" as="image" href="/img/illustrations/hero.svg" />
    <meta name="keywords" content="fkm, kesehatan, kesmas, kesehatan masyarakat, sister unej,unej,universitas jember,sso unej,mbkm,jember,sbmptbr,repository,mmp,oaiphm">
    <link rel="canonical" href="https://fkm.unej.ac.id/" />
    <link rel='shortlink' href='https://fkm.unej.ac.id/' />
    <link rel="apple-touch-icon" href="https://github.com/notizen-00/astro-fkm/blob/addb59847cfbee8449c5f67e5419db976555a1a3/public/img/logo/fkmunej-agrocoastal.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='https://github.com' crossorigin='anonymous' rel='preconnect' />
    <title>Fakultas Kesehatan Masyarakat - Universitas Jember {"- " + title}</title>
  </head>
  <body x-data="{ currentUrl : window.location.pathname }">
    <!-- Navbar -->
    <Navbar />

    <!-- Body slot -->
    <slot />


    <script  src="../js/main"></script>
    <!-- Footer -->
    <Footer />

    <!-- Main script -->
    <script src="../js/main"></script>
  
  </body>
</html>
